/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
/** Body Layout
*
**/
body {
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/********************************************
* ADD YOUR CSS HERE :D
********************************************/
body {
	font-family: sans-serif}
header {
	background: #0cceff;}
h1.container {
	border-style: none;
	margin: 20px;}
.pull-left {
	width: 300px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 5px solid;
	border-color: #c2c2c1;};
.pull-right {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 10px;}
footer {
	background-color: black;
	color: antiquewhite;
	font-style: italic;
	font-size: 90%;
	padding: 25px;}
.instructions {
	margin: 20px;
	border: 5px solid;
	border-color: #c2c2c1;
	padding: 25px;
	font-family: "Copperplate Gothic Light";}
section {
	background: #1fffff;
	padding: 25px;}